<%= form_for @user do |f| %>
  <div class="form-control">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-control">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="form-control">
    <%= f.label :password %>
    <%= f.text_field :password_digest %>
  </div>

  <div class="form-control">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>